<p>
    <table>
        <tr>
            <td><b>URL</b></td>
            <td><b>Remote repositories</b></td>
        </tr>
        {% for type, repos in all_repos.items() %}
        <tr><td colspan="2" style="border-left: 0; border-right: 0; padding: 30px 30px 10px 10px;"> <h3>{{ type }}</h3> </td></tr>
        {% for url, remotes in repos.items() %}
        <tr>
            <td>{{ url }}</td>
            <td><ul>
                {% for remote in remotes%}
                <li>{{ remote }}</li>
                {% endfor %}
            </ul></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</p>

